system {
    time-zone Europe/Amsterdam;
    name-server {
    {% for name_server in name_servers %}
        {{name_server}};
    {% endfor %}
    }
    ntp {
    {% for ntp_server in ntp_servers %}
        server {{ntp_server}};
    {% endfor %}
    }
    syslog {
        host {{syslog_server}} {
            any any;
        }
    }
}